.body {
    display: flex;
    background-color: #f4f4f4; /* Background color */
    padding: 20px;
  
    .right {
      flex: 1;
      padding: 20px;
      background-color: #fff; /* Right side background color */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  
      ul {
        list-style: none;
        padding: 0;
        
        li {
          margin-bottom: 10px;
          font-weight: bold;
        }
      }
    }
  
    .left {
      flex: 2;
      padding: 20px;
      background-color: #fff; /* Left side background color */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  
      .title {
        font-size: 24px;
        margin-bottom: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        
        li {
          margin-bottom: 10px;
        }
      }
    }
  }  