.content {
  display: flex;
  background-color: #f4f4f4;
  padding: 20px;
  width: 100%;
}

.content-container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Additional styles for the content container */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* You can add more styles as needed for specific elements inside the content container */
.content-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content-container input,
.content-container textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.content-container button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* New CSS */

.content-container ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.content-container li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.content-container li:hover {
  background-color: #f5f5f5;
}



/* Add more specific styles for task cards if needed */
.task-card {
  background-color: #fff;
  max-width: 60%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
}

/* Add margin to the right of the "Edit" button */
.task-card .edit-button {
  margin-bottom: 10px;
  align-self: center;
}

/* Add margin to the left of the "Delete" button */
.task-card .delete-button {
  margin-bottom: 10px;
  align-self: center;
}

.task-status-select {
  width: 20%;
  padding: 0.5rem;
  margin: 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.task-status-select option {
  padding: 0.5rem;
}

.task-status-select:focus {
  outline: none;
  border-color: #ccc;
}